<%= render 'shared/header' %>

<h1>Posts</h1>

<!-- マップを表示する要素 -->
<div id="map" style="height: 400px;"></div>

<script>
  // 地図を初期化する関数
  function initMap() {
    // 現在地の取得
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        // 地図のオプション
        const mapOptions = {
          center: { lat: lat, lng: lng }, // 現在地を中心に設定
          zoom: 12 // ズームレベル
        };

        // 地図を指定した要素に表示
        const map = new google.maps.Map(document.getElementById('map'), mapOptions);

        // 現在地にマーカーを表示
        var marker = new google.maps.Marker({
          position: { lat: lat, lng: lng },
          map: map
        });
      });
    } else {
      // 現在地が取得できない場合は、東京をデフォルトの位置として表示
      const mapOptions = {
        center: { lat: 35.6803997, lng: 139.7690174 }, // 東京の位置
        zoom: 10
      };

      // 地図を指定した要素に表示
      const map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>

<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
  <div>
    <% if post.user.avatar.attached? %>
      <%= link_to post_path(post) do %>
        <%= image_tag post.user.avatar.variant(resize_to_fill: [50, 50]) %>
      <% end %>
    <% else %>
      <%= image_tag 'kkrn_icon_user_1.png', size: "50x50" %>
    <% end %>

    <p>
      <strong>
        <%= link_to post.user.username, post_path(post) %>:
      </strong>
      <%= link_to post.content, post_path(post) %>
    </p>

    <% if post.images.attached? %>
      <div>
        <% post.images.each do |image| %>
          <%= link_to post_path(post) do %>
            <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div>
      <% if post.likes.exists?(user: current_user) %>
        <%= button_to post_like_path(post, post.likes.find_by(user: current_user)), method: :delete, class: 'btn btn-danger' do %>
          <i class="fas fa-thumbs-down"></i> 取消
        <% end %>
      <% else %>
        <%= button_to post_likes_path(post), method: :post, class: 'btn btn-primary' do %>
          <i class="fas fa-thumbs-up"></i> いいね!
        <% end %>
      <% end %>
    
      <span class="badge bg-secondary">
        <%= post.likes.count %> いいね!
      </span>
    </div>

    <div>
      <% post.replies.each do |reply| %>
        <div>
          <% if reply.user %>
            <p><strong><%= reply.user.username %>:</strong> <%= reply.content %></p>

            <% if reply.user == current_user %>
             <%= button_to 'Delete Reply', post_reply_path(post, reply), method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge bg-secondary' %>
            <% end %>
          <% end %>
        </div>
      <% end %> 
      <%= form_with(model: [post, post.replies.build], local: true) do |form| %>
        <%= form.text_area :content %>
        <%= form.submit 'リプライ' %>
      <% end %>     
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>

<% else %>
	<%= link_to 'Login', new_user_session_path %>
<% end %>
