<%= render 'shared/header' %>

<h1>Posts</h1>

<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
  <div>
    <% if post.user.avatar.attached? %>
      <%= image_tag post.user.avatar.variant(resize_to_fill: [50, 50]) %>
    <% else %>
      <%= image_tag 'kkrn_icon_user_1.png', size: "50x50" %>
    <% end %>
    <p><strong><%= post.user.username %>:</strong> <%= post.content %></p>

    <% if post.images.attached? %>
      <div>
        <% post.images.each do |image| %>
          <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>

<% else %>
	<%= link_to 'Login', new_user_session_path %>
<% end %>
